<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNet.ScriptManager.jQuery.UI.Combined" version="1.12.1" targetFramework="net461" />
  <package id="bootstrap" version="4.4.1" targetFramework="net461" />
  <package id="Font.Awesome" version="5.12.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="jQuery" version="3.4.1" targetFramework="net461" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net461" />
  <package id="Jquery.UI.smoothness" version="1.8.23" targetFramework="net461" />
  <package id="Microsoft.ScriptManager.jQuery.UI.Combined" version="1.8.20.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net45" />
  <package id="popper.js" version="1.16.0" targetFramework="net461" />
</packages>